body {
  position: relative;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 150px 0 0 -150px;
  min-height: 350px;
  min-width: 350px;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  background: #444;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [header] 10% [buttons] 90%;
}

#display {
  grid-row: header;
  align-self: center;
  justify-self: end;
  min-height: 50px;
}

#display p {
  color: white;
  font-size: 35px;
  padding-top: 15px;
  padding-right: 10px;
}

section {
  grid-row: buttons;
  max-height: 300px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: [one] 20% [two] 20% [three] 20% [four] 20% [five] 20%;
}

section button {
  border: 1px ridge #444;
  background-color: whitesmoke;
  font-weight: 600;
  font-size: 25px;
}

.op {
  grid-row: one;
  background-color: rgba(202, 209, 216);
  font-size: 20px;
}

#piu {
  grid-column: 1;
}

#meno {
  grid-column: 2;
}

#per {
  grid-column: 3;
}

#divide {
  grid-column: 4;
}

#seven {
  grid-column: 1;
  grid-row: two;
}

#eight {
  grid-column: 2;
  grid-row: two;
}

#nine {
  grid-column: 3;
  grid-row: two;
}

#four {
  grid-column: 1;
  grid-row: three;
}

#five {
  grid-column: 2;
  grid-row: three;
}

#six {
  grid-column: 3;
  grid-row: three;
}

#one {
  grid-column: 1;
  grid-row: four;
}

#two {
  grid-column: 2;
  grid-row: four;
}

#three {
  grid-column: 3;
  grid-row: four;
}

#zero {
  grid-column: 1;
  grid-row: five;
}

#dot {
  grid-column: 2;
  grid-row: five;
}

#ac {
  grid-column: 3;
  grid-row: five;
}

#equal {
  grid-column: 4;
  grid-row: two / six;
  background-color: rgb(255, 112, 112);
  font-size: 20px;
}
