.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.card img {
  width: 100%;
  height: auto;
}

h5 {
  color: grey;
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .card {
    display: grid;
  }
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
  }
}
