blockquote {
  background-color: rgba(0, 0, 0, 0.12);
  padding: 8px;
  quotes: "“";
}

blockquote::after {
  content: close-quote;
}

blockquote::before {
  content: open-quote;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:visited {
  color: green;
}

.first::first-letter {
  float: left;
  color: darkred;
  border: 3px ridge darkgoldenrod;
  padding: 16px;
  background-color: gold;
  margin: 8px;
}
